name: Build and Publish Docker Image

on:
  push:
    branches:
      - main
    paths:
      - urlshortner_front/**
    tags:
      - "v*.*.*"
  pull_request:
    branches:
      - main
    paths:
      - urlshortner_front/**
env:
  APP_NAME: url-shortly-front
  APP_IMAGE: ${{ secrets.DOCKERHUB_USERNAME }}/url-shortly-front

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v4
      -
        name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.APP_IMAGE }}           
          # generate Docker tags based on the following events/attributes
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
            type=sha
      -
        name: Login to Docker Hub
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: urlshortner_front/.
          file: urlshortner_front/Dockerfile
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

  deploy-release:
    if: contains(github.ref, 'tags')
    runs-on: ubuntu-latest
    needs:
      - build
    steps:
      - 
        name: Checkout code
        uses: actions/checkout@v4
        with:
          github_token: ${{secrets.REPO_TOKEN}}
      - 
        name: Modify file
        run: |
          sed -i'' -E 's|^(\s*-?\s*image:\s*'${{env.APP_IMAGE}}':)[^ ]+|\1'${GITHUB_REF#refs/*/}'|' k8s_files/dep/deploy_front.yaml
      - 
        name: Commit and push
        run: |
          git config user.email "githubactionbot@myurlshortly.com"
          git config user.name "githubactionbot"
          git commit -am "GitHubActionBot update to $APP_NAME"
          git push origin main
